<div class="row d-flex justify-content-center">
<form class="create-post d-flex justify-content-center">
    <div class="card create-post mt-3 w-100">
        <p class="fs-4">Create Post</p>
        <p class="error text-danger"></p>
        <div class="form-group mb-2">
            <label for="post-title">Post Title</label>
            <input class="form-control post-title" style="color: #9F9F9F" type="text" name="post-title" id="post-title">
        </div>
        <div class="form-group mb-2">
            <label for="post-text">Post Text</label>
            <textarea class="post-text form-control" style="color: #9F9F9F;" type="text" name="post-text" id="post-text"></textarea>
        </div>
        <button class="post-submit btn mt-2">Post</button>
    </div>
</form>
<ul class="d-flex justify-content-center flex-column m-1">
    {{#each posts as |post| }}
    <li class="list-unstyled d-flex justify-content-center w-100">
        {{> postInfo loggedIn="loggedIn"}}
    </li>
    {{/each}}
</ul>
</div>
<script src="/javascript/posts/create-post.js"></script>
<script src="/javascript/posts/view-edit-post.js"></script>