
<form class="d-flex justify-content-center">
    <div class="card create-post mt-3 w-75 p-2 border-2 border-primary shadow-lg">
        <p class="fs-4">Create Post</p>
        <div class="form-group mb-2">
            <label for="post-title">Post Title</label>
            <input class="form-control post-title" type="text" name="post-title" id="post-title">
        </div>
        <div class="form-group mb-2">
            <label for="post-text">Post Text</label>
            <textarea class="post-text form-control" type="text" name="post-text" id="post-text"></textarea>
        </div>
        <button class="post-submit btn btn-primary">Post</button>
    </div>
</form>
<ul class="d-flex justify-content-center align-items-center flex-column m-0 p-0">
    {{#each posts as |post| }}
    <li class="list-unstyled d-flex justify-content-center w-75">
        {{> postInfo loggedIn="loggedIn"}}
    </li>
    {{/each}}
</ul>
<script src="/javascript/posts/create-post.js"></script>
<script src="/javascript/posts/edit-post.js"></script>