<ul class="d-flex justify-content-center align-items-center flex-column p-0">
    {{#each allPosts as |post|}}
    <li class="list-unstyled col-sm w-75">
        {{> postInfo post}}
    </li>
    {{/each}}
</ul>
