<div class="row justify-content-center mt-4">
    
    <form class="card shadow-lg border-2 border-primary col-md m-4 p-3 w-75">
        <p class="fs-4 card-title pb-3">Log In</p>
        <p class="bad-log-in text-danger m-0"></p>
        <label for="logInEmail">Email</label>
        <input type="email" class="login-email form-control mb-2" id="logInEmail" placeholder="Email">
        <label for="logInPassword">Password</label>
        <input type="password" autocomplete="off" class="login-password form-control mb-4" id="logInPassword" placeholder="Password">
        <button type="submit" class="log-in-submit btn btn-primary px-4 py-2">Log in</button>
    </form>
    

  
<form class="card shadow-lg border-2 border-primary col-md m-4 p-3 w-75">
    
        <p class=" fs-4 card-title pb-3">Sign Up</p>
        <p class="bad-sign-up text-danger m-0"></p>
        <label for="signUpUserName">Username</label>
        <input type="text" class="signup-username form-control mb-2" id="signUpUserName" placeholder="Username">
        <label for="signUpEmail">Email</label>
        <input type="email" class="signup-email form-control mb-2" id="signUpEmail" placeholder="Email">
        <label for="signUpPassword">Password</label>
        <input type="password" autocomplete="off" class="signup-password form-control mb-4" id="signUpPassword" placeholder="Password">
        <button type="submit" class="sign-up-submit btn btn-primary px-4 py-2">Sign up</button>
      
    </form>
   
</div>
<script src="/javascript/login.js"></script>