<div class="row w-100 d-flex justify-content-center m-0">
    <form class="log-in-cards card col-md m-4 p-3">
        <p class="fs-4 card-title pb-3">Log In</p>
        <p class="bad-log-in text-danger absolute"></p>
        <label for="logInEmail">Email</label>
        <input type="email" style="color: #9F9F9F;"class="login-email form-control mb-2" id="logInEmail" >
        <label for="logInPassword">Password</label>
        <input type="password" style="color: #9F9F9F; autocomplete="off" class="login-password form-control mb-4" id="logInPassword">
        <button type="submit" class="log-in-submit btn px-4 py-2">Log in</button>
    </form>
    <form class="log-in-cards card col-md m-4 p-3">
        <p class="fs-4 card-title pb-3">Sign Up</p>
        <p class="bad-sign-up text-danger m-0 absolute"></p>
        <label for="signUpUserName">Username</label>
        <input type="text" style="color: #9F9F9F;" class="signup-username form-control mb-2" id="signUpUserName">
        <label for="signUpEmail">Email</label>
        <input type="email" style="color: #9F9F9F;" class="signup-email form-control mb-2" id="signUpEmail">
        <label for="signUpPassword">Password</label>
        <input type="password" style="color: #9F9F9F; autocomplete="off" class="signup-password form-control mb-4" id="signUpPassword"">
        <button type="submit" class="sign-up-submit btn px-4 py-2">Sign up</button>
    </form>
    </div>
<script src="/javascript/login.js"></script>