<div class="row justify-content-center mt-4">
    
    <form class="card shadow-lg border-2 border-primary col-md m-4 p-3">
        <h3 class="card-title pb-3">Log In</h3>
        <label for="logInEmail">Email</label>
        <input type="email" class="login-email form-control mb-2" id="logInEmail" placeholder="Email">
        <label for="logInPassword">Password</label>
        <input type="password" class="login-password form-control mb-4" id="logInPassword" placeholder="Password">
        <button type="submit" class="log-in btn btn-primary px-4 py-2">Log in</button>
      
    </form>
    

  
<form class="card shadow-lg border-2 border-primary col-md m-4 p-3">
    
        <h3 class="card-title pb-3">Sign Up</h3>
        <label for="signUpEmail">Email</label>
        <input type="email" class="form-control mb-2" id="signUpEmail" placeholder="Email">
        <label for="signUpPassword">Password</label>
        <input type="password" class="form-control mb-4" id="signUpPassword" placeholder="Password">
        <button type="submit" class="sign-up btn btn-primary px-4 py-2">Sign up</button>
      
    </form>
   
</div>

<script src="/javascript/login.js"></script>