
/* GENERAL TAGS */
body {
    background-color: #212121;
}
a {
    text-decoration: none!important;
    color: #000!important;
}
a:hover {
    color:#1BDECA!important;
}

i {
    color: #9F9F9F;
}

label {
    color: #9F9F9F;
}

p {
    color: #9F9F9F;
}
form .log-in-cards{
    background-color: #383838!important;
}
input {
    background-color: #383838!important;
}
textarea {
    background-color: #383838!important;
}

button {
    background-color: #B985FA!important;
    color: #000!important;
}
ul {
    padding-top: 0.6rem;
}
button:hover {
    background-color: #9b69d8!important;
}
.card {
    background-color: #383838!important;
}
.welcome {
    margin-top: 0.9rem;
    color: #B985FA;
    font-size: 1rem;
}
.navbar {
    background-color: #212121!important;
}
.navbar-brand {
    color: #9F9F9F!important;
}

.nav-link {
    color: #9F9F9F!important;
}

.active {
    color: #1BDECA!important;
}
/* LOG IN */

.log-in-cards {
    max-width: 22rem;
}
/* POSTS */
.create-post {
    width: 665px;
    color: #212121!important;
    margin-bottom: 1rem;
    padding: 1rem;
}

.post-title {
    white-space: nowrap;
    color: #9F9F9F;
}
.post-date {
    color: #9F9F9F;
    margin: 0.1rem 0.05rem 0 0.02rem;
    font-size: .75rem;
}
.posts {
    width: 30rem;
    background-color: #383838;
    color: #9F9F9F;
    padding-bottom: 2rem;
    
}

.avatar {
   padding: 0.25rem;
   position: relative;
   top: -1px;
}
.card {
    min-height: 150px;
}
.card-title {
    color: #9F9F9F;
}
.card-header {
    border-bottom: 2px solid #B985FA;
}
.card-header:hover * {
    color: #1BDECA;
}
.card-body {
    padding: 0.5rem 1rem;
}
.delete {
    background-color: red!important;
}
button .garbage {
    color: #000!important;
}
/* COMMENTS */

.comment-user {
    font-size: .75rem;
    font-weight: bold;
    color: #1BDECA;
    margin: 0 0.05rem 0 0.25rem;
}

.comment-user-dash {
    margin-right: 0.25rem!important;
}
.comment-text {
    font-size: .75rem;
    margin-bottom: 0.5rem;
}

.comment-title {
    font-size: 0.75rem;
}
.comment-box {
    border: 1px solid #9f9f9f;
    border-radius: 3px;
    max-height: 10rem;
    overflow: auto;
    padding: 0.5rem;
}
.comment-edit-box {
    width: 40rem;
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 7px;
    background-color: #383838;
}
.comment-date {
    font-size: 0.65rem;
}

.delete-comment {
    color: #000;
}
.delete-comment:hover {
    color: red;
    cursor: pointer;
}
.individual-comment {
    border-radius: 7px;
}
.individual-comment:hover {
    cursor: pointer;
    background-color: #9F9f9f;

}

.individual-comment:hover p {
    color: #000;
}
.individual-comment:hover i {
    color: #000;
}

.add-comment {
    padding-left: .5rem;
    font-size: 1rem;
}