a {
    text-decoration: none!important;
    color: black!important;

}

.posts {
    width: 40rem;
}

.card-header {
    border-bottom: 2px solid rgb(14,110,253);
   
    
}
.comment-user {
    font-size: .75rem;
    font-weight: bold;
    margin-top: .05rem;
    margin-bottom: 0.05rem;
}
.comment-text {
    font-size: .75rem;
    margin-bottom: 0.5rem;
}
.comment-box {
    border: 1px solid black;
    border-radius: 3px;
    max-height: 8rem;
    overflow: auto;
    padding: 0.5rem;
}
.comment-edit-box {
    border: 2px solid rgb(14,110,253);
    border-radius: 3px;
    max-height: 12rem;
    overflow: scroll;
    padding: 0.5rem;
}

.comment-date {
    font-size: 0.65rem;
}
.delete-comment:hover {
    color: red;
    cursor: pointer;
}
.individual-comment {
    border-bottom: 1px solid black;
    
}
.individual-comment:hover {
    cursor: pointer;
    
}
.add-comment {
    padding-left: .5rem;
    font-size: 1rem;
}
.post-date {
    font-size: .75rem;
}
